---
layout: default
---

    <link href='../assets/fullcalendar/main.min.css' rel='stylesheet' />
    <script src='../assets/fullcalendar/main.min.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            eventSources: [
                { events: 
                    [ // Practices
                        { title : 'Practice', start : '2022-06-23T17:30:00' },
                        { title : 'Practice', start : '2022-06-30T17:30:00' },
                        { title : 'Practice', start : '2022-07-07T17:30:00' },
                        { title : 'Practice', start : '2022-07-14T17:30:00' },
                        ],
                    color: 'blue',
                    textColor: 'yellow'
                    }
                ],
            initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

    <div id='calendar'></div>

</article>
